.dashboard-intro {
  display: flex;
  height: 100px;
  background: rgb(253, 253, 253);
  background: linear-gradient(
    180deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(253, 253, 253, 0.75) 25%,
    rgba(253, 253, 253, 0.25) 75%,
    rgba(253, 253, 253, 0) 100%
  );
  align-items: center;
  justify-content: space-around;
}

.total-balance {
  color: #72000a;
}

.dashboard-main {
  width: 50%;
  margin: 0 auto;
}

.dashboard-cta {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.dashboard-button {
  height: 60px;
  width: 20%;
  background: #f7f5dd;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 3px 1px rgb(182, 182, 182);
  font-size: 15px;
  padding: 0 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-button:hover {
  background: #474747;
  color: white;
}

.addAccount {
  width: 150px;
  height: 30px;
  cursor: pointer;
  background: white;
  border: 2px solid #72000a;
  color: #72000a;
  box-shadow: 0 0px 2px 1px rgb(182, 182, 182);
  padding: 3px;
}

/* .addAccount:hover {
  background: #474747;
} */

.dashboard-content {
  margin-top: 20px;
  padding-bottom: 200px;
}

.accounts-header {
  font-size: 23px;
  margin-top: 60px;
}

.account {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  height: 80px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 6px 1px rgb(182, 182, 182);
  padding: 0 30px;
}

.account-number {
  margin-left: 15px;
  font-size: 15px;
}

.account-balance {
  color: #72000a;
}
