footer {
  background: #72000a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-section {
  width: 40%;
}

.footer-social {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
}

.footer-item {
  list-style: none;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {
  .footer-section {
    width: 50%;
  }
}
@media screen and (max-width: 670px) {
  .footer-section {
    width: 70%;
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  .footer-section {
    width: 90%;
    font-size: 12px;
  }
}
