footer {
  background: #72000a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-section {
  width: 30%;
}

.footer-social {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
}

.footer-item {
  list-style: none;
  text-decoration: none;
  color: white;
}
