.intro-banner {
  height: 475px;
  display: flex;
  box-shadow: 0 6px 6px 1px rgb(182, 182, 182);
}

.intro-banner-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background: #363636;
  color: white;
}

.intro-text-button {
  width: 50%;
  text-align: center;
}

.intro-text {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-size: 45px;
}

.intro-button {
  height: 40px;
  width: 120px;
  background: white;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
}

.intro-button:hover {
  color: #72000a;
}

.intro-button:focus {
  outline: none;
}

.intro-image {
  height: 475px;
  border-top-left-radius: 250px;
}

.landingPageProducts {
  display: flex;
  height: 500px;
  width: 55%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}

.landing-product {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 22%;
  height: 55%;
  text-align: center;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 7px;
  /* box-shadow: 0 1px 2px 2px rgb(182, 182, 182); */
}

.landing-product h2 {
  margin-top: 25px;
  flex: 2;
}

.landing-product h4 {
  width: 80%;
  margin: 0 auto;
  flex: 3;
}

.product-link-container {
  flex: 2;
}

.product-link {
  font-size: 18px;
  color: black;
}

.product-link:hover {
  color: #72000a;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 23%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-content p {
  color: black;
}
