.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 30%;
  margin: 5% auto 0 5%;
  box-shadow: 1px 1px 5px 0px #b1b1b1;
}

form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.form-header {
  margin: 5% 0 1% 0;
}

.inputs {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
}

input {
  margin: 5px 0;
  height: 45%;
  border: 1px solid rgb(194, 194, 194);
  padding: 0 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px;
}

.form-row {
  width: 80%;
  display: flex;
  margin-bottom: 17px;
  /* justify-content: space-around; */
}
label {
  font-weight: 500;
}

.form-input {
  width: 90%;
  height: 35px;
}
.form-item {
  width: 100%;
}

.login {
  font-size: 0.75rem;
  margin-top: 10px;
  width: 15%;
  border-radius: 20px;
  cursor: pointer;
}
