.navbar {
  background: #e8175d;
  border-bottom: 1px solid white;
}

.navbar-container {
  display: flex;
  height: 57px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  color: white;
}

.nav-brand {
  flex: 1;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

nav {
  flex: 3;
  display: flex;
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  list-style: none;
  margin-right: 10px;
}

.login-button {
  color: white;
  background: none;
  border: 2px solid white;
  width: 80px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.login-button:hover {
  background: white;
  color: #e8175d;
}

.register-button {
  color: #e8175d;
  background: white;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.register-button:hover {
  background: #474747;
  color: white;
}
