.navbar {
  background: #e8175d;
  border-bottom: 1px solid white;
}

.navbar-container {
  display: flex;
  height: 57px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  color: white;
}

.nav-brand {
  flex: 1;
}

nav {
  flex: 3;
  display: flex;
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav-link {
  list-style: none;
  margin-right: 10px;
}
