.navbar {
  background: #72000a;
  border-bottom: 1px solid white;
}

.navbar-container {
  display: flex;
  height: 57px;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  color: white;
}

.nav-brand {
  margin-right: 17%;
  text-decoration: none;
  color: white;
  font-size: 23px;
}

nav {
  flex: 2;
  display: flex;
}

.nav-links {
  display: flex;
  width: 50%;
  margin-left: 500px;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  list-style: none;
  margin: 0 20px;
}

.nav-button {
  list-style: none;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.nav-button:focus,
.nav-button:hover {
  border-bottom: 1px solid white;
}

.dropdownContent {
  display: none;
  position: absolute;
  background: #f7f5dd;
  width: 170px;
  border: 1px solid black;
  padding-top: none;
  text-decoration: none;
}

.settings {
  padding-top: 1px;
}

.settings:hover .dropdownContent {
  display: block;
}

.fa-cog {
  font-size: 26px;
}

.settingsOption {
  border: none;
  background: #f7f5dd;
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 3px 0;
}

.settingsOption:hover {
  background: #dddcc6;
  cursor: pointer;
}

.settingsOption:focus {
  outline: none;
}

.auth-link {
  list-style: none;
  margin-right: 10px;
}

.login-button {
  color: white;
  background: none;
  border: 2px solid white;
  width: 80px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.login-button:hover {
  background: white;
  color: #72000a;
}

.register-button {
  color: #72000a;
  background: white;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.register-button:hover {
  background: #eeedff;
  color: #72000a;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    margin-left: 200px;
  }
  .nav-brand {
    font-size: 20px;
  }
  .login-button,
  .register-button {
    width: 75px;
    height: 25px;
    font-size: 14px;
  }
}
@media screen and (max-width: 720px) {
  .nav-links {
    margin-left: 100px;
  }
  .nav-brand {
    font-size: 17px;
  }
  .nav-links {
    margin: none;
  }
}
@media screen and (max-width: 390px) {
  .nav-links {
    margin-left: 50px;
  }
  .nav-brand {
    font-size: 15px;
  }
}
