.productPage {
  height: 100%;
  background: rgb(224, 224, 224);
}

.productPageHeader {
  padding: 40px 90px;
  border-bottom: 1px solid #363636;
  box-shadow: 0 6px 6px 1px rgb(182, 182, 182);
}

.productPageProducts {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 60px auto 0 auto;
  padding-bottom: 200px;
}

.product-container {
  display: flex;
  width: 100%;
  margin: 1% auto;
  align-items: center;
  border: 1px solid #72000a;
  border-radius: 7px;
  height: 200px;
  background: white;
}

.product-info,
.product-description {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.product-description ul {
  list-style: none;
}

.product-info {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.product-button {
  height: 40px;
  width: 120px;
  color: white;
  background: #72000a;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product-button:focus {
  outline: none;
}

.product-button:hover {
  background: #363636;
}

.far,
.fas {
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  .product-name {
    font-size: 17px;
  }
  .product-info i {
    font-size: 17px;
  }
  .product-description {
    font-size: 13px;
  }
  .product-button {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 670px) {
  .productPageProducts {
    width: 70%;
  }
}
